<body>
    <div class="row mt-4">
        <div class="col-xl-6 col-lg-12 d-flex mt-4">
            <div class="img">
                 <img src="../../../assets/fondos/14.jpg" width="450" height="500" >
            </div>
        </div>
    
    
      <div class="col-xl-5 col-lg-12 mt-3">
          <div class="container align-self-center">
               <h2> CARNE DE LA QUE SALGA X KILO</h2>
               <label>codigo: 123cf45</label>
               <hr>
               <p class="a">$10.000 KILO</p>
               <div class="mt-3">
                    <label>Cantidad</label>
                    <div class="form-row">
                        <div class="col-lg-3">
                            <input type="number"
                          class="form-control "
                          placeholder="1">
                        </div>
                         
                        <div class="input-group col-lg-5 col-md-6">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Medida</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                          <option value="1">Kilo</option>
                          <option value="2">Gramo</option>
                        </select>
                      </div>
                    </div>   
                </div>
                <div class="mt-4">
                    <button class="btn btn-success col-lg-3">Comprar</button>
                </div>
                <hr>
                <h4>Descripcion</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, magni illo culpa unde, temporibus maxime ipsum aperiam, nam similique earum atque consequuntur. Laudantium adipisci ad harum inventore voluptas modi sapiente.</p>
                <hr>
          </div>
       </div>
    </div>
    </body>