.a{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.img{
    display: block;
    margin: auto;
}

.form-control{
    border-radius: 1rem;
    padding: 1rem 1rem;
    border: 2px solid #1f232b;
}

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 80vh;
}

.p{
    font-size: 20px;
}