<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 mt-5">
          <div class="img">
               <img src="../../../assets/fondos/14.jpg" height="400" width="400">
          </div>
      </div>
      <div class="col-sm-12  col-md-12 col-lg-6 mt-5 mb-5">
        <div class="col align-self-center">
          <h2> CARNE DE LA QUE SALGA X KILO</h2>
          <label>codigo: 123cf45</label>
          <hr>
          <p class="a">$10.000 KILO</p>
          <h5 >Proveedor: <label>Ganaderia rica carne</label></h5>
          <h5>Presentacion: <p>carne fresca y bien empacada para el cuidado y satisfacion del cliente</p></h5>
           <hr>
           <h4>Descripcion</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, magni illo culpa unde, temporibus maxime ipsum aperiam, nam similique earum atque consequuntur. Laudantium adipisci ad harum inventore voluptas modi sapiente.</p>
           <hr>
           <i class="fas fa-truck-moving p">  Envios a valledupar</i>
  
        </div>
        </div>
      </div>
  
    </div>
  </body>