<div class="card-columns mt-5">
    <div  class="card animated fadeIn fast" >
       <img src="../../../assets/fondos/3.jpg"  class="card-img-top img-fluid" alt="">
       <div class="card-body text-center">
          <h4 class="card-title"> <small>Carne de la buena X Kilo</small></h4>
          <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eaque qui, deleniti assumenda veritatis quos mollitia. A minima deserunt eveniet</p>

         <button type="button" class="btn btn-outline-primary text-center mr-3">Editar</button>
         <button type="button" class="btn btn-outline-danger text-center">Eliminar</button>
        </div>
    </div>
</div>
