.img-thumb {
    width: 150px;
    height: 150px;
}
p{
    font-size: 18px;  
  }
.d1{
      font-size: 20px;
    font-family: 'Hind', sans-serif;
}
.a{
    padding-top: 12vh;   
}
.b{
    background: #eeee;
    border: rgb(139, 108, 108);
}
.border{
    border: 4px black ;
}
h1{
    font-family: 'Suez One', serif;
}