<div class="container mt-5 a">
    <h1 class="mt-5">Catalogo de Productos</h1>
    <hr>
        <div *ngIf="isAdmin" class="col text-right">
            <button routerLink="/registroProducto" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Agregar
            </button>
        </div>
    
    <div class="col mt-3">
        <form class="form-inline">
            <input class="form-control col-10" [(ngModel)]="termino" name="Busqueda" type="search" placeholder="Nombre del producto" aria-label="Buscar">
    </form>
    <div class="card-columns mt-5">
        <div class="card animated fadeIn fast" *ngFor="let producto of productos | busqueda:termino">
            <img [src]="producto.imageURL |noImage" class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h4 class="card-title"> {{ producto.nombre }} <small>{{ producto.presentacion }}</small></h4>
                <p class="card-text text-center"> {{ producto.precio | currency:'COP' }} </p>
                <button type="button" class="btn btn-outline-primary text-center">Ver mas..</button>
                <button type="button" (click)="modalEmergente( producto )" class="btn btn-outline-success text-center">Lo quiero</button>
            </div>
        </div>
    </div>
    </div> 
</div>