<div class="container m-5">
    <h1 class="mt-5">Catalogo de Productos</h1>
    <hr>

    <div class="row">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" [(ngModel)]="termino" name="Busqueda" type="search" placeholder="Nombre del producto" aria-label="Buscar">
        </form>
        <div *ngIf="isAdmin" class="col text-right">
            <button routerLink="/registroProducto" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Agregar
            </button>
        </div>
    </div>
    <div class="card-columns">
        <div class="card animated fadeIn fast" *ngFor="let producto of productos | busqueda:termino">
            <img [src]="producto.imagenURL |noImage" class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h4 class="card-title"> {{ producto.nombre }} <small>{{ producto.presentacion }}</small></h4>
                <p class="card-text text-center"> {{ producto.precio | currency:'COP' }} </p>
                <button type="button" class="btn btn-outline-primary text-center">Ver mas..</button>
            </div>
        </div>
    </div>
</div>