<div class="container d-flex  w-100 justify-content-center mt-3">
    <h1>Detalle pedido</h1>
</div>
<div class="container">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Foto</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detalle of detallesPedido">
                    <td>
                        <img [src]=" detalle.producto.imageURL | noImage " class="img-thumb">
                    </td>
                    <td>
                        <div class="container">
                            <h1>{{ detalle.producto.nombre }}</h1>
                            <p>codigo producto: <i>{{ detalle.producto.id }}</i></p>
                            <p>precio unitario: <i>{{ detalle.producto.precio }} COP</i></p>
                            <p>cantidad: <i>{{ detalle.cantidad }} {{ detalle.presentacion }}</i></p>
                            <p>precio total: <i>{{ detalle.subTotal }}</i></p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>