.img-thumb {
    width: 150px;
    height: 150px;
}
p{
    font-size: 18px;  
  }
.d1{
      font-size: 20px;
    font-family: 'Hind', sans-serif;
}
.a{
    padding-top: 12vh;   
}
h1{
    font-family: 'Suez One', serif;
}
