<nav class="navbar navbar-expand-lg navbar-dark bg-dark scrolling-navbar fixed-top">

    <a class="navbar-brand" [routerLink]="['/']">
        <img src="../../../assets/img/carniceria.png" width="30" height="30" alt=""> Carniceria Freddy
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item a mr-sm-3" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/productos']">Productos</a>
            </li>
            <li class="nav-item mr-sm-3 a" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/servicios']">Servicio</a>
            </li>
            <li class="nav-item  mr-sm-3 a" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/proveedores']">Proveedores</a>
            </li>
            <li class="nav-item a" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/pedidoVendedor']">Pedidos</a>
            </li>
        </ul>
        <div class="col text-right a">
          <a  class="mr-sm-4" routerLink="/pedidoCliente"> <i class="fas fa-cart-arrow-down icon"></i> </a>
            <button class="btn btn-outline-primary  mr-sm-2" *ngIf="!logeado" routerLink="/login">
          <i class="fas fa-user-circle"></i> Login</button>
            <button class="btn btn-outline-primary my-2 my-sm-0" *ngIf="!logeado" routerLink="/signin">
          <i class="fas fa-address-card"></i> Registrarse</button>
            <button *ngIf="logeado" (click)="logout()" class="btn btn-outline-red my-2 my-sm-0">
          <i class="fas fa-sign-out-alt"></i> Cerrar sesion</button>
            <button class="btn btn-outline-blue-grey" (click)="llamarCarrito()" routerLink="/carrito">Carrito</button>
        </div>
            
        
    </div>
</nav>



<ngx-spinner bdColor="rgba(0,0,0,0.98)" size="large" color="#fff" type="ball-clip-rotate-multiple" [fullScreen]="true">
    <p style="color: white"> Por favor espere.... </p>
</ngx-spinner>