<div class="container d-flex  w-100 justify-content-center mt-3">
    <h1>Historial de pedidos</h1>
</div>
<div class="container mt-2">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <div class="row">
                <div class="col mt-1">
                    <div ngbDropdown class="d-inline-block">
                        <select class="custom-select mr-sm-2" #estadoBusqueda id="inlineFormCustomSelect">
                            <option selected value=null>Filtrar por Estado</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Enviado">Enviado</option>
                            <option value="Finalizado">Finalizado</option>
                            <option value="Cancelado">Cancelado</option>
                        </select>
                    </div>
                </div>
            </div>
            <tbody>
                <tr *ngFor="let pedido of pedidos | filtro: estadoBusqueda.value ; let i = index">
                    <td> {{ i }} </td>
                    <td>
                        <div class="container">
                            <div class="col d-flex">
                                <p class="d1">Fecha de solicitud:</p> <p class="ml-2">{{ pedido.fechaInicio }}</p>
                            </div>
                            <div class="col d-flex">
                                <p class="d1">Fecha de entrega:</p> <p class="ml-2">{{ pedido.fechaFin }}</p>
                            </div>
                            <div class="col d-flex">
                                <p class="d1">codigo pedido: </p> <p class="ml-2">{{ pedido.id }}</p>
                            </div> 
                            <div class="col d-flex">
                                <p class="d1">Total: </p> <p class="ml-2">{{ pedido.total | currency }} COP</p>
                            </div>
                            <div class="col d-flex">
                                <p class="d1">Nombre destinatario: </p><p class="ml-2"> {{ pedido.cliente.nombre }}</p>
                            </div>
                            <div class="col d-flex">
                                <p class="d1">Direccion: </p><p class="ml-2">{{ pedido.cliente.direccion }}</p>
                            </div>
                            <div class="col d-flex">
                                <p class="d1">telefono:</p> <p class="ml-2">{{ pedido.cliente.telefono }}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="col mb-1 z">
                            <span [ngClass]="[verEstado( pedido.estado )]">{{ pedido.estado }}</span>
                        </div>
                        <select *ngIf="isAdmin" (change)="modificar( pedido , estado.value)" #estado class="custom-select col-8 mb-2 ml-3" id="inputGroupSelect01">
                            <option selected disabled>Cambia el estado</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Enviado">Enviado</option>
                            <option value="Finalizado">Finalizado</option>
                            <option value="Cancelado">Cancelado</option>
                        </select>
                        <div class="col mb-2">
                            <button class="btn btn-success mr-1" [routerLink]="['/DetallePedido', pedido.id]">
                                <i class="fas fa-info-circle"></i>  Detalles</button>
                        </div>
                        <div *ngIf="!isAdmin" class="col mb-2">
                            <button (click)="cancelarPedido( pedido )" [disabled]="pedidoCancelado( pedido )" class="btn btn-danger mr-1">
                                <i class="fas fa-window-close"></i>  Cancelar pedido</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>