<div class="container">
    <h1 class="mt-4">Servicios</h1>
    <hr>
    <div class="row">
        <div class="col text-right">
         <button routerLink= "/registroProducto"
                 class="btn btn-primary">
             <i class="fa fa-plus"></i>
             Agregar
         </button>
         </div>
     </div>
     <div class="col mt-3">
         <form class="form-inline">
             <input class="form-control col-10" name="Busqueda" type="search" placeholder="Nombre del producto" aria-label="Buscar">
         </form>
 
         <!-- insertas la tarjeta como lo hizo fernando, este el ejemplo de el -->
         <!-- <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="foo" [index]="i" *ngFor="let foo of heroes; let i = index"></app-heroe-tarjeta> -->
 
     </div>
 </div>