<div class="container d-flex  w-100 justify-content-center mt-3">
    <h1>Historial de pedidos </h1>
</div>
<div class="container">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ 1 }} </td >
                    <td > <div class="container">
                        <p>Fechas: <i>17/01/2020</i></p>
                        <p>codigo pedido:  <i>124521412</i></p>
                        <p>cantidad: <i>4  kilo</i></p> 
                        <p>precio: <i>$ 25.000</i></p>
                        <p>Nombre: <i>juancho</i></p>
                        <p>Direccion: <i>calle siempre viva</i></p>
                        <p>telefono: <i>3002737177</i></p>
                    </div>
                    </td>
                    <td >
                        <div >
                         <span *ngIf="envio && !pendiente" class="badge badge-primary">Enviado</span>
                         <span *ngIf="!envio && pendiente" class="badge badge-secondary">Pendiente</span>
                         <span  *ngIf="envio && pendiente" class="badge badge-success">Finalizado</span>
                         <span  *ngIf="!envio && !pendiente" class="badge badge-danger">Cancelado</span>
                        </div>
                        <div class="input-group mb-3 mt-4 ">
                            <div class="input-group-prepend ">
                              <label class="input-group-text" for="inputGroupSelect01">Estado</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                              <option selected>Choose...</option>
                              <option value="1">Pendiente</option>
                              <option value="2">Enviado</option>
                              <option value="3">Finalizado</option>
                            </select>
                          </div>
                          <button class="btn btn-success"  routerLink="/detallePedido">
                          <i class="fas fa-address-card"></i>Detalle</button>
                    </td>
                </tr>
                <tr>
                    <td> {{ 1 }} </td >
                    <td> <div class="container">
                        <h1>carne de cerdo</h1>
                        <p>codigo pedido:124521412</p>
                        <p>codigo producto:21f21fas21</p>
                        <p>cantidad: 4  kilo</p> 
                        <p>precio: $ 25.000</p>
                    </div>
                    </td>
                    <td>Finalizado</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
