<body>
    <section class="contact-box">
        <div class="row no-gutters bg-dark">
            <div class="col-xl-5 col-lg-12 register-bg">
             <div class="position-absolute testiomonial p-4">
             </div>
            </div>
            <div class="col-xl-7 col-lg-12 d-flex">
                 <div class="container align-self-center p-6">
                     <h1 class="font-weight-bold mb-2">Crea tu cuenta</h1>
                     <p class="text-muted mb-5">Ingresa la siguiente información para registrarte.</p>
                     <form autocomplete="off" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                         <div class="form-group mb-3">
                                 <label class="font-weight-bold">Nombre</label>
                                 <input type="text"
                                        class="form-control" 
                                        placeholder="Tu nombre"
                                        name="nombre"
                                        formControlName="nombre"
                                        [class.is-invalid]="nombreNoValido">
                                <small *ngIf="nombreNoValido" class="text-danger">
                                 ingrese como minimo 3 caracteres
                                </small>
                         </div>
 
                         <div class="form-group mt-3">
                             <label class="font-weight-bold">Correo electrónico</label>
                             <input type="email"
                                    class="form-control"
                                    placeholder="Ingresa tu correo electrónico"
                                    name="correo"
                                    formControlName="correo"
                                    [class.is-invalid]="correoNoValido">
                            <small *ngIf="correoNoValido" class="text-danger">
                             ingrese como minimo 3 caracteres
                           </small> 
                         </div>
                         
                         <div class="form-group mt-3">
                             <label class="font-weight-bold">Contraseña</label>
                             <input type="password"
                                    class="form-control" 
                                    placeholder="Ingresa una contraseña"
                                    formControlName="pass"
                                    name="pass" 
                                    placeholder="Digite Contraseña"
                                    [class.is-invalid]="passNoValido">
                             <small *ngIf="passNoValido" class="text-danger">
                             La contraseña debe tener minimo 6 caracteres
                             </small>
                         </div>
 
                         <div class="form-group mt-3">
                                 <label class="font-weight-bold">Telefono</label>
                                 <input type="text"
                                        class="form-control" 
                                        placeholder="Tu numero telefonico"            
                                        formControlName="telefono"
                                        name="telefono" 
                                        placeholder="Numero de telefono"
                                        [class.is-invalid]="telefonoNoValido">
                                 <small *ngIf="telefonoNoValido" class="text-danger">
                                 Numero de telefono invalido, solo numeros y 10 digitos
                                 </small>
                         </div>
 
                         <div class="form-group mt-3">
                             <label class="font-weight-bold">Direccion</label>
                             <input type="text"
                                    class="form-control" 
                                    placeholder="Tu direccion"
                                    formControlName="direccion"
                                    name="direccion" 
                                    placeholder="Direccion de su casa"
                                    [class.is-invalid]="direccionNoValido">
                             <small *ngIf="direccionNoValido" class="text-danger">
                             direccion debe tener minimo 6 caracteres
                             </small>
                         </div>
 
                         <div class="mt-4">
                             <a>
                                 ¿Ya tienes cuenta? / Ingresar
                             </a>
                         </div>
 
                         <button class="btn btn-primary width-100 mt-4" 
                                 [disabled]="formGroup.invalid" 
                                 (click)="onSubmit()"
                                 type="submit">
                             Regístrate
                         </button>
                     </form>
                 </div>
            </div>
        </div>
    </section>
</body>  








<!-- <body>
<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login120 p-t-70 p-b-100">
            <form autocomplete="off" class="login100-form validate-form flex-sb flex-w" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <span class="login120-form-title p-b-51 m-b-16">
                      Crear cuenta
                  </span>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="nombre" 
                           class="input100" 
                           type="text" 
                           name="nombre" 
                           placeholder="Nombre y apellidos"
                           [class.is-invalid]="nombreNoValido">
                           <small *ngIf="nombreNoValido" class="text-danger">
                            ingrese como minimo 3 caracteres
                          </small>
                    <span class="focus-imput100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="correo" 
                           class="input100" 
                           type="email" 
                           name="correo" 
                           placeholder="Correo electronico"
                           [class.is-invalid]="correoNoValido">
                           <small *ngIf="correoNoValido" class="text-danger">
                            Correo invalido
                          </small> 
                    <span class="focus-imput100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="pass" 
                           class="input100" 
                           type="password" 
                           name="pass" 
                           placeholder="Digite Contraseña"
                           [class.is-invalid]="passNoValido">
                           <small *ngIf="passNoValido" class="text-danger">
                            La contraseña debe tener minimo 6 caracteres
                          </small>
                    <span class="focus-imput100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="telefono" 
                           class="input100" 
                           type="text" 
                           name="telefono" 
                           placeholder="Numero de telefono"
                           [class.is-invalid]="telefonoNoValido">
                           <small *ngIf="telefonoNoValido" class="text-danger">
                            Numero de telefono invalido, solo numeros y 10 digitos
                          </small>
                    <span class="focus-imput100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="direccion" 
                           class="input100" 
                           type="text" 
                           name="direccion" 
                           placeholder="Direccion de su casa"
                           [class.is-invalid]="direccionNoValido">
                           <small *ngIf="direccionNoValido" class="text-danger">
                            direccion debe tener minimo 6 caracteres
                          </small>
                    <span class="focus-imput100"></span>
                </div>
                <div>
                    <a routerLink="/login" class="txt2">
                        ¿Ya tienes cuenta? / Ingresar
                    </a>
                </div>
                <div class="container-login100-form-btn m-t-16 m-b-16">
                    <button [disabled]="formGroup.invalid" (click)="onSubmit()" class="login100-form-btn" type="submit">
                        Crear cuenta
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body> -->