<body>
<div class="limiter animated fadeInRight">
    <div class="container-login100">

        <div class="wrap-login120 p-t-70 p-b-100">
            <form autocomplete="off" class="login100-form validate-form flex-sb flex-w" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <span class="login120-form-title p-b-51 m-b-16">
                      Crear cuenta
                  </span>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="nombre" 
                           class="input100" 
                           type="text" 
                           name="nombre" 
                           placeholder="Nombre y apellidos"
                           [class.is-invalid]="nombreNoValido">
                           <small *ngIf="nombreNoValido" class="text-danger">
                            ingrese como minimo 3 caracteres
                          </small> 
                    <span class="focus-imput100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="correo" 
                           class="input100" 
                           type="email" 
                           name="correo" 
                           placeholder="Correo electronico"
                           [class.is-invalid]="correoNoValido">
                           <small *ngIf="correoNoValido" class="text-danger">
                            Correo invalido
                          </small> 
                    <span class="focus-imput100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="pass" 
                           class="input100" 
                           type="password" 
                           name="pass" 
                           placeholder="Digite Contraseña"
                           [class.is-invalid]="passNoValido">
                           <small *ngIf="passNoValido" class="text-danger">
                            La contraseña debe tener minimo 6 caracteres
                          </small>
                    <span class="focus-imput100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="telefono" 
                           class="input100" 
                           type="text" 
                           name="telefono" 
                           placeholder="Numero de telefono"
                           [class.is-invalid]="telefonoNoValido">
                           <small *ngIf="telefonoNoValido" class="text-danger">
                            Numero de telefono invalido, solo numeros y 10 digitos
                          </small>
                    <span class="focus-imput100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="direccion" 
                           class="input100" 
                           type="text" 
                           name="direccion" 
                           placeholder="Direccion de su casa"
                           [class.is-invalid]="direccionNoValido">
                           <small *ngIf="direccionNoValido" class="text-danger">
                            direccion debe tener minimo 6 caracteres
                          </small>
                    <span class="focus-imput100"></span>
                </div>
                <div>
                    <a routerLink="/login" class="txt2">
                        ¿Ya tienes cuenta? / Ingresar
                    </a>
                </div>
                <div class="container-login100-form-btn m-t-16 m-b-16">
                    <button [disabled]="formGroup.invalid" (click)="onSubmit()" class="login100-form-btn" type="submit">
                        Crear cuenta
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>


