<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form autocomplete="off" class="login100-form validate-form flex-sb flex-w" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <span class="login100-form-title p-b-51">
                      Crear nueva cuenta
                  </span>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="nombre" 
                           class="input100" 
                           type="text" 
                           name="nombre" 
                           placeholder="Nombre y apellidos"
                           [class.is-invalid]="nombreNoValido">
                           <small *ngIf="nombreNoValido" class="text-dager">
                            ingrese como minimo 3 caracteres
                          </small> 
                    <span class="focus-imput100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="correo" 
                           class="input100" 
                           type="email" 
                           name="email" 
                           placeholder="Correo electronico"
                           [class.is-invalid]="emailNoValido">
                           <small *ngIf="emailNoValido" class="text-dager">
                            Correo invalido
                          </small> 
                    <span class="focus-imput100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="pass" 
                           class="input100" 
                           type="password" 
                           name="pass" 
                           placeholder="Digite Contraseña"
                           [class.is-invalid]="passNoValido">
                           <small *ngIf="passNoValido" class="text-dager">
                            La contraseña debe tener minimo 6 caracteres
                          </small>
                    <span class="focus-imput100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="telefono" 
                           class="input100" 
                           type="text" 
                           name="telefono" 
                           placeholder="Numero de telefono"
                           [class.is-invalid]="telefonoNoValido">
                           <small *ngIf="telefonoNoValido" class="text-dager">
                            Numero de telefono invalido
                          </small>
                    <span class="focus-imput100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input formControlName="direccion" 
                           class="input100" 
                           type="text" 
                           name="direccion" 
                           placeholder="Direccion de su casa"
                           [class.is-invalid]="direccionNoValido">
                           <small *ngIf="direccionNoValido" class="text-dager">
                            direccion debe tener minimo 6 caracteres
                          </small>
                    <span class="focus-imput100"></span>
                </div>
                <div>
                    <a routerLink="/login" class="txt1">
                        ¿Ya tienes cuenta? / Ingresar
                    </a>
                </div>
                <div class="container-login100-form-btn m-t-16">
                    <button [disabled]="formGroup.invalid" (click)="onSubmit()" class="login100-form-btn" type="submit">
                        Crear cuenta
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>

<pre>
    status: {{formGroup.status}}
    id: {{usuario.id}}
</pre>

<pre>
    {{formGroup.value | json}}

</pre>