<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="../../../../assets/img/login-user.png">
                </div>
                <form class="col-12">
                    <div class="form-group" id="user-group">
                        <input type="email" class="form-control" placeholder="Ingresar correo">
                    </div>
                    <div class="form-group" id="contra">
                        <input type="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-sing-in.alt"></i>  Ingresar
                    </button>
                </form>
                <div class="col-12 forgot">
                    <a href="#">¿ya estas registrado?</a>
                </div>
            </div>
        </div>

    </div>
</body>

























<!-- <body>
    <div class="full-bg-img">
        <img class="wave" src="../../../../assets/img/login.jpg">
    </div>
  <div class="container">
  <div class="container
  "> 
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-cl4 col-lg-5 formulario pt-5 mt-5 m-1">
            <form action="">
                <div class="form-group text-center pt-3">
                    <h1 class="text-ligh">Iniciar Sesión</h1>
                </div>
                <div class="form-group mx-sm-4 pt-4">
                    <input class="form-control"
                           type="email"
                           name="correo"
                           placeholder="Ingresar correo" >
                </div>
                <div class="form-group mx-sm-4 pt-3">
                    <input class="form-control"
                           type="password"
                           name="pass"
                           placeholder="Ingresar contraseña" >
                </div>
                <div class="form-group mx-sm-4 pt-3">
                    <button class="btn btn-block ingresar" type="submit">
                        Ingresar
                    </button>
                </div>
            </form>
        </div>
    </div>
   </div>
</div>
</body> -->
