<body>
    <div class="limiter animated fadeInLeft">
        <div class="container-login100">
            <div class="wrap-login110 p-t-70 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w">
                     <div class="login110-form-title p-b-10 user-img">
                    <img src="../../../../assets/img/login-user.png">
                    </div>
                    <span class="login110-form-title p-b-52">
                        Login
                    </span>
                    <div class="wrap-input100 m-b-16">
                        <input  class="input100"
                                type="email"
                                name="email"
                                placeholder="Correo electronico">
                                <span class="focus-imput100"></span>
                    </div>
                    <div class="wrap-input100 m-b-16">
                        <input  class="input100"
                                type="password"
                                name="pass"
                                placeholder="Digite Contraseña">
                                <span class="focus-imput100"></span>
                    </div>
                    <div>
                    <a routerLink="/signin" class="txt2 forgot">
                        ¿No tienes cuenta?
                    </a>
                    </div>
                    <div class="container-login100-form-btn m-t-17 m-b-16">
                    <button class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                    </div>
                </form>
               
            </div>
        </div>

    </div>
</body>


